<div class="col mt-3">
    <div class="row">
      <form>
        <div class="form-group" [formGroup]="searchProfile">
          <label for="profile-search">Ім'я користувача</label>
          <input type="text" class="form-control" id="profile-search" placeholder="Наприклад, ToucanMusic" formControlName="userName" [autofocus] [(ngModel)]="usernameExists">
        </div>
        <div class="form-group" [formGroup]="searchProfile">
          <div class="dropdown">
            <select class="form-control" formControlName="itemsInParallel">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="form-group" [formGroup]="searchProfile">
          <button 
              class="btn c-btn-input my-2 my-sm-0" 
              (click)="getNextPageResults(1)"
              [disabled]="!usernameExists || usernameExists.trim().length <= 0">Пошук</button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger row" role="alert">
          {{errorMessage}}
        </div>
        <div *ngIf="infoMessage" class="alert alert-warning row" role="alert">
          {{infoMessage}}
        </div>
        <div *ngIf="isLoading">
          <p>Отримання даних. Це може зайняти декілька хвилин</p>
          <p>Опрацьовано {{handledTracksCount}} із {{allTracksCount}}</p>
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </form>
    </div>
      
    <div *ngIf="tracksPage" class="mt-3">

      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Трек</th>
            <th>Лінк</th>
            <th style="text-align: center">На першій сторінці?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of tracksPage.records">
            <td>
              {{record.trackName}}
            </td>
            <td>
              <a href="{{ record.trackUrl }}" target="_blank">{{record.trackUrl}}</a>
            </td>
            <td style="text-align: center">
              <i *ngIf="record.isOnFirstPage" class="fa fa-check-circle itemsuccess"></i>
              <i *ngIf="!record.isOnFirstPage" class="fa fa-times-circle itemfail"></i>
            </td>
          </tr>
        </tbody>
      </table>  
      <ngb-pagination 
      [collectionSize]="totalTracksCount" 
      [(page)]="currentPage" 
      [pageSize]="pageSize"
      aria-label="Default pagination"
      [boundaryLinks]="true"
      (pageChange)="getNextPageResults($event)"></ngb-pagination> 
    </div>
  </div>