<div class="col mt-3">
    <div class="row">
      <app-search 
        (userChange)="updateSearchedRecipient($event)">
      </app-search>
    </div>
      
    <div *ngIf="tracks" class="mt-3">

      <table class='table table-striped' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Track name</th>
            <th>Copy link</th>
            <th>Is on first page</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks">
            <app-track-info 
              [record]="track">
            </app-track-info>
          </tr>
        </tbody>
      </table>    
    </div>
  </div>